test.py
build/
dist/
*egg*
*.pyc
.idea*
*~
.DS_Store
*.pyc
docs/_*/*
.ipynb_checkpoints
\.pytest_cache/v/cache/
\.tox
\.tox/flake8/

\.tox/log/
.coverage
pip-wheel-metadata/
htmlcov/
.qodo

docs/autoapi/*

# For now, ignore the uv.lock because we specify the dependencies in the old way
# When uv supports dynamic versioning, we'll upgrade to be everything uv.
uv.lock
