colossus>=1.2.1
coverage==4.5.1
coveralls
cryptography==3.3.2
flake8==2.6.0
halomod @ git+git://github.com/steven-murray/hmf.git@unit-tests
mpmath==1.0.0
nbsphinx
numpydoc==0.8.0
pip
pytest==3.5.1
pytest-cov==2.5.1
pytest-runner==4.2
PyYAML==5.4
Sphinx==1.7.5
sphinx_rtd_theme
sympy==1.1.1
tox==3.0.0
wheel==0.31.0
